<!DOCTYPE html>
<html>
    <head>
        <title>Authentication Success!</title>
    </head>
    <body>
        <h1><center>Authentication Success!<center></h1>
        <h3><center>Welcome to Google's Data Collection Operations, {{username}}!</center></h3>
        <br>
        <br>
        <center><i>Your {{request}} request has been successfully processed, and we are working hard to make sure all your data is ours to sell.</i></center>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <i>Your data stolen by Team SE Laptop Cart, Emily Zhang and Pratham Rawat.</i>
    </body>
</html>
